@model AnagramViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">ANAGRAM SOLVER</h1>
    <br />

    @if (Model.SearchHistory.Any())
    {
        <div class="mb-3">
            <p class="text-secondary">
                Search history: <span class="text-secondary">@string.Join(", ", Model.SearchHistory)</span>
            </p>
        </div>
    }

    @if (!string.IsNullOrEmpty(Model.LastSearch))
    {
        <p class="text-secondary">Last search: @Model.LastSearch</p>
    }

    <br />

    <form asp-controller="Home" asp-action="Index" asp-route-id="" method="get" id="searchForm">
        <input type="text" name="id" placeholder="Enter your words" id="wordInput" />
        <button type="submit">Submit</button>
    </form>

    <div id="resultsContainer">
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <h1 id="errorMessage">@Model.ErrorMessage</h1>
        }

        else
        {
            <h2 id="resultTitle">
                @if (Model.Anagrams.Any())
                {
                    <text>Anagrams for "@Model.Word"</text>
                }

                else if (!string.IsNullOrEmpty(Model.Word))
                {
                    <text>No anagrams for "@Model.Word" were found</text>
                }
            </h2>

            <ul id="anagramList">
                @foreach (var anagram in Model.Anagrams)
                {
                    <li>@anagram</li>
                }
            </ul> 
        }

    </div>

    <div class="text-secondary" style="text-align: left">
        <h4>Local Storage:</h4>
        <ul id="localStorageList"></ul>
        <button onclick="localStorage.clear(); location.reload();">Clear local storage.</button>
    </div>

    <script>

        const word = "@Model.Word";

        const key = `anagram_${word}`;
        const anagrams = @Html.Raw(Json.Serialize(Model.Anagrams));

        if (word && word !== "") {
            localStorage.setItem(key, anagrams);
        }

        const cached = localStorage.getItem(key);

        const listElement = document.getElementById("localStorageList")

        for (let i = 0; i < localStorage.length; i++) {
            const key = localStorage.key(i);

            const value = localStorage.getItem(key);
            listElement.innerHTML += `<li><b>${key}:</b> ${value}</li>`;
        }
       
    </script>
</div>